.search-results-layout{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 8em;
}

.results{
  width: 100%;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.not-found{
  width: 700px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  & img{
    width: 55%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
  }
}